<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#" class="navbar-brand">
        <img src="#" height="28" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" *ngIf="user$ | async as user">
            <a [routerLink]="['/']" class="nav-item nav-link active">Home</a>
        </div>
        <div class="navbar-nav ml-auto" *ngIf="user$ | async as user; else login">
            <a href="/login" class="nav-item nav-link" (click)="onLogout()">Logout</a>
            <a class="nav-item nav-link">{{user?.email}}</a>
        </div>

        <ng-template #login>
            <div class="navbar-nav ml-auto">
                <a href="#" routerLink="/login" class="nav-item nav-link" >Login</a>
                <a href="#" routerLink="/registro" class="nav-item nav-link" >Registro</a>
            </div>
        </ng-template>
    </div>
</nav>