<div class="card mt-5">
    <div class="card-body">
        <h3 class="card-title">
            Recupero de contraseña
        </h3>
        <p>Ingresá tu correo electrónico registrado y te enviaremos un mail para recuperar tu contraseña.
        </p>
            <div class="form-group">
                <input type="text" class="form-control" required [formControl]="userEmail">
            </div>
            <p *ngIf="emailEnviado">Te enviamos un mail con instrucciones para reestablecer tu contraseña.<br>
                Si no lo ves en tu carpeta de Recibidos, revisá el correo no deseado.</p>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-primary" (click)="onReset()">Resetear contraseña</button>
            </div>
    </div>
</div>
